{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
<div  class="parallax2" id="about">

        <p id="mostly">ABOUT US</p>
		
		</div>
		</div>
		<br>
		<div class="row">
		<div class="container">
  <h5 style="color:rgb(53,151,128); font-weight:bold;">Introduction</h5>
<p>FABTRENDS is a one stop shop for all your fashion and lifestyle needs. Being India's largest e-commerce store for fashion and lifestyle products, FABTRENDS aims at providing a hassle free and enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal. The brand is making a conscious effort to bring the power of fashion to shoppers with an array of the latest and trendiest products available in the country.
</p>
<hr>
<h5 style="color:rgb(53,151,128); font-weight:bold;">Value proposition</h5>
<p>FABTREND's value proposition revolves around giving consumers the power and ease of purchasing fashion and lifestyle products online. Offerings such as the largest in-season product catalogue, 100% authentic products, cash on delivery and 30 day return policy make Myntra, the preferred shopping destination in the country. To make online shopping easier for you, a dedicated customer connect team is on standby to answer your queries 24x7.
E-commerce is revolutionizing the way we all shop in India.Fabtrends houses everything you can possibly imagine for Women's, from trending women's Jewellery, Cosmetices, Clothing, and footwear or other accessories , lifestyle accessories.</p><hr>
<h5 style="color:rgb(53,151,128); font-weight:bold;">Our Mission</h5>
<p>FABTRENDS prides itself on offering on-trend styles catering to both young women and teens, that won’t break the bank. Fabtrends adheres to the concept that "everyone can enjoy the beauty of fashion." fabtrends is able to stay on top of the latest fashion trends from around the globe while rapidly bringing these styles to market. So whether you're searching for boho dresses and graphic tees or patterned blouses and chic swimwear, FABTRENDS is the ultimate one-stop-shop for the modern yet economical fashionista. It aims to promptly offer stylish quality products at appealing prices to every user in the world.</p>
<hr>
<h5 style="color:rgb(53,151,128); font-weight:bold;">EASY RETURNS</h5>
<p>
<p>Apparel, footwear, home and accessories (bags, sunglasses, leather goods, jewelry and watches) may be returned unless the item is marked Final Sale or Non-Returnable.Items must be returned within 45 days.Returns on items received after these time periods are accepted at our discretion. Late returns that are accepted will be subject to a partial refund of 50% of their original sale prices. This will appear on your orders page as Late-Return Fee.</p>
<p>Items must be returned in their original packaging, including hangers, hang tags, dust bags, eyewear cases, shoe boxes and gift boxes when applicable.Items must not be worn, altered or damaged.Items purchased from Beauty events are final sale.</p>
<p>Eligible returns will be credited to your original form of tender or a gift card (gift cards cannot be redeemed for cash unless required by law).</p>
<p>Please note, we reserve the right to refuse or limit quantities to anyone we believe may be purchasing items for resale. Sales to anyone management believes to be a reseller or bulk purchaser are final, and no exchanges or returns will be granted.</p>
<hr>
<h5 style="color:rgb(53,151,128); font-weight:bold;">Quality Inspection</h5>
<p>
We carry out quality inspection of all of our products before officially introducing them to the market. We check for style, color, sizing, workmanship, and quality, etc. in order to eliminate any and all problems. We take measures to ensure that all of the cutting, sewing and ironing meet our quality requirements. There are ideal positions for each of these stages of production. Our workers follow guidebooks to ensure flawless appearance of the finalized product.</p><hr>
<h5 style="color:rgb(53,151,128); font-weight:bold;">Review The Product Again</h5>
<p>After the quality inspection, each product is sent to our warehouse, where our employees will review the product again during the packaging stage. Although we take many steps toward quality assurance, occasionally something will slip. If you are ever dissatisfied with your product, we invite you to contact our customer service.</p><hr>

<p>Online shopping for women is as good as a massage therapy. There are so many options available that one, simply can’t get enough of it. The best thing about shopping women’s clothing online is that it is accessible everywhere. One can simply do other activities while browsing for the best women’s clothing. From the past few years, online shopping in India has grown on a tremendous scale mainly because of the affordable mobile phones and cheap internet rates. Online shopping allows you to purchase the products at your own ease without worrying about time or anything else. The best part is that you don’t have to move out of your home to check out the new styles and designs. In just a few clicks, you can check what’s trending and choose women’s clothing accordingly. In fact, at Shoppers Stop, there’s transparency regarding the quality and fabric of the product. Explore women’s clothing, accessories, beauty, and jewellery according to your mood, need and preferences.</p><hr>

</div>
</div>
	
    
{% endblock %}