body{margin:0; padding:0; width:100%;}

/* begin topbar */
#header{background:black;border:none;font-size:16px;}
#button1{font-size:16px;padding:7px 10px 5px 8px;margin-left:70px;border:none;}
#free{color:white;font-size:16px;}
#nav{margin-right:0%;float:right;}
#nav a{color:white;padding-top: 0%;padding-bottom:0%;margin-top:7px;margin-right:0%;}
#nav a:hover{color:rgb(53,151,128);}
.fa-shopping-cart{color:white;font-size:16px;}
.fa-unlock-alt{padding:0px 8px 0px 0px;}
.fa-user-plus{padding:0px 8px 0px 0px;}
.fa-user-alt{padding:0px 8px 0px 0px;}
.fa-user-tie{padding:0px 8px 0px 0px;}
.fa-comments{padding:0px 8px 0px 0px;}
.fa-question-circle{padding:0px 8px 0px 0px;}
.fa-shopping-basket{padding:0px 8px 0px 0px;}
.fa-heart{padding:0px 8px 0px 0px;}
.fa-user{padding:0px 8px 0px 0px;}
.fa-key{padding:0px 8px 0px 0px;}
.fa-lock{padding:0px 8px 0px 0px;}
.fa-shopping-bag{padding:0px 8px 0px 0px;}
.fa-shopping-cart{padding:0px 5px 0px 0px;}
.caret{margin-left:5px;font-size:20px;}
.dropdown li {color:black;}/* finish topbar */
/* begin navbar */
.bg-dark{background:black;color:white;}

#navbar ul{list-style-type:none;margin:0;padding:0;background:white;font-size:0;overflow:hidden;}
#img{height:30px; width:200px;margin-left:10px;margin-top:15px;margin-right:20px;float:center; margin-bottom:0;}
#navbar li {display:inline-block;font-family:Arial Rounded MT;}
#navbar li a{display:inline-block;color:black;text-decoration:none;font-size:18px;font-family:Arial Rounded MT;}
.dropbtn {display:inline-block;color:black;padding:14px 16px;text-align:center;text-decoration:none;font-size:14px;font-family:Arial Rounded MT;}
#navbar li a:hover, .dropdown:hover .dropbtn {color:rgb(53,151,128); font-weight:bold;font-family:Arial Rounded MT;}
.dropdown { display:inline-block;position:relative;}
.dropdown-content {display:none;position:absolute;background-color: rgb(255, 255, 255); font-family:Arial Rounded MT;text-align:left;width:300px;border:1px solid rgb(53,151,128); z-index:1; box-shadow:10px 10px 10px rgb(53,151,128);}
.dropdown-content a {color:rgb(53,151,128);font-size:16px !important;margin-left:15px;margin-bottom:5px; text-decoration:none;display:block;width:130;z-index:1;margin-right:0%;}
.dropdown-content a:hover {background-color:none;}
#indian{color:rgb(53,151,128);font-family:Arial Rounded MT;font-size:20px;}
.dropdown:hover .dropdown-content {display:block;}
/*.sticky{position: fixed;top:0;width: 100%; height: 60px; z-index:2500; background:white;font-size:14px;}*/
.home{color:rgb(53,151,128);background:none;font-weight:bold;font-family:Arial Rounded MT;margin-left:70px;}
#header1{margin-top:5px;margin-left:50px;margin-bottom:0;}
.fa-caret-down{size:16px;color:rgb(53,151,128);padding:0px 0px 0px 10px;}
.searchbutton{background:rgb(53,151,128);border-radius:50%;padding:12px;color:white;text-decoration:none;outline:none;}
.cartbutton{background:rgb(53,151,128);border-radius:50%;padding:10px;outline: none;color:white;margin-top:0px !important;margin-bottom:0px;margin-left:20px;text-decoration:none;outline:none;}

/* finish navbar */

#wrap {margin-top:5px; margin-left:10px; margin-right:20px;display: inline-block;position: relative;height: 60px;float: right;padding: 0;}
#wrap input[type="text"] {height: 60px;font-size: 45px;display: inline-block;font-family: "Lato";  font-weight: 100;border: none;outline: none;color: #555; padding: 3px;padding-right: 60px;width: 0px;position: absolute;top: 0;right: 0;background: none;z-index: 3;transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);cursor: pointer;}
#wrap input[type="text"]:focus:hover {border-bottom: 2px solid #BBB;background:white;}
#wrap input[type="text"]:focus {width: 700px;z-index: 1;border-bottom: 1px solid #BBB;cursor: text;margin-right:45px;background:white;color:rgb(53,151,128);}
#wrap input[type="submit"] {height: 60px;width: 303px;display: inline-block;color:red; float: right;text-indent: -10000px;border: none;
  position: absolute;top: 0;right: 0;z-index: 2;cursor: pointer;opacity: 0.4;cursor: pointer;transition: opacity .4s ease;}
#wrap input[type="submit"]:hover {opacity: 0.8;}
/* begin slider */
#JiSlider {width:100%;height:85%;}
.text3{position: absolute;top: 32%;left: 30%;background-color: white;color: black;padding-left: 20px; padding-right: 20px;font-size:160px;font-weight:200;letter-spacing:6px;}
.text2{position: absolute;top: 32%;left: 30%;background-color: black;color: white;padding-left: 20px; padding-right: 20px;font-size:160px;font-weight:200;letter-spacing:6px;}
.text4{position: absolute;top: 70%;left: 15%;background-color: brown;color: white;opacity:0.6;padding-left: 20px; padding-right: 20px;font-weight:100;letter-spacing:6px;}
.text5{position: absolute;top: 30%;left: 15%;background-color: none;color: black;padding-left: 20px; padding-right: 20px;font-weight:100;letter-spacing:6px;}
.sbutton{position: absolute;top: 48%; left: 40%;background:black; color: white;padding:15px;font-size:30px;outline:none;border:2px solid white;border-radius:40px;}
.sbutton1{position: absolute;top: 50%; left: 46%;background:black; color: white;padding:15px;font-size:30px;outline:none;border:2px solid white;border-radius:40px;}
.sbutton4{position: absolute;top: 55%; left: 45%;background:black; color: white;padding:15px;font-size:30px;outline:none;border:2px solid white;border-radius:40px;}
.sbutton2{position: absolute;top: 76%; left: 85%;background:rgb(53,151,128); color: white;padding:30px;font-size:30px;border:2px solid white;border-radius:50%;}
.sbutton3{position: absolute;top: 15%; left: 80%;background:rgb(53,151,128); color: white;opacity:0.6;padding:15px;font-size:30px;border:4px solid white;}
.text1{position: absolute;top: 10%;left: 40%;background:none;color:black;padding:15px;font-size:90px;font-family:Tw Cen MT Condensed Extra Bold;}
/* finish slider */

/* begin two images first row */
#feedback{background-image: url('banner.jfif');}
#imag31{background-image: url('images/bg-2.jpg'); height:500px;width:680px;}
#imag32{background-image: url('images/bg-3.jpg');height:500px;width:674px;}
#btn2{color:white;font-size:26px;border:4px solid white;margin-left:30px;margin-top:20px;}
#sale{font-size:100px;font-weight:800px;color:white;font-family:Elephant;}
#access{font-size:18px;color:white;margin-left:30px;}
.single_catagory_area {width: 40%; -webkit-box-flex: 0;-ms-flex: 0 0 50%;flex: 0 0 50%; -webkit-transition-duration: 500ms; transition-duration: 500ms;position: relative;z-index: 1;}
.single_catagory_area:after {content: "";width: 100%;height: 100%;background-color:rgb(53,151,128);position: absolute;top: 0;left: 0; z-index: -8;opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -webkit-transition-duration: 500ms;transition-duration: 500ms;}
.single_catagory_area:hover:after {opacity: 0.5;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
.single_catagory_area h6 {text-transform: uppercase;}
.catagory-content {width: 70%;}
/* finish two images first row */

/*  begin new offers row */
#offers3{font-size:40px;font-family:Arial Rounded MT; font-weight:bold;text-align:center;color: rgb(53,151,128);background-color:rgba(53,158,128,0.1);margin-top:30px;padding:20px;}
#more1{margin-bottom:50px;}
.flip-box {  background-color: none;width: 300px;  height: 450px; border:none;margin-right:10px; margin-top:10px; padding:0;margin-bottom:10px;}
.flip-box-inner {  position: relative;  width: 320px;  height: 450px;  text-align: center; margin-right:10px;border:none; transition: transform 0.8s;  transform-style: preserve-3d;}
.flip-box:hover .flip-box-inner {  transform: rotateY(180deg);border:none;}
.flip-box-front, .flip-box-back {  position: absolute;width: 320px;height: 450px;-webkit-backface-visibility: hidden;backface-visibility: hidden; border:none;}
.flip-box-front {background-color: none;color: none; border:none;}
.flip-box-back {background-color:none;color: none;transform: rotateY(180deg); border:none;}
#printed{font-size:20px; text-align:center;margin-top:0;}
#printed1{font-size:16px; font-weight:bold;text-align:center;margin-left:90px;margin-bottom:100px; color:rgb(53,151,128);text-transform:uppercase;cursor:onclick;padding:0;margin-top:0;}
/*  end new offers row */

/*  begin latest offers row */
#offers{font-size:40px;font-family:Arial Rounded MT; font-weight:bold;text-align:center;color: rgb(53,151,128);background-color:rgba(53,158,128,0.1);margin-top:50px;padding:20px;}
#more{margin-top:20px;}
#seemore{background:none;border:2px solid white;border-radius:20px 20px 20px 20px;padding:10px;margin-left:20px;margin-right:30px;font-size:30px;}
.content {position: relative;width: 90%;max-width: 400px;margin: auto;overflow: hidden;}
.content .content-overlay {background: rgba(0,0,0,0.7);position: absolute;height: 99%;width: 100%;left: 0;top: 0;bottom: 0;right: 0;opacity: 0;-webkit-transition: all 0.4s ease-in-out 0s;-moz-transition: all 0.4s ease-in-out 0s;transition: all 0.4s ease-in-out 0s;}
.content:hover .content-overlay{opacity: 1;}
.content-image{width: 100%;}
.content-details {position: absolute;text-align: center;padding-left: 1em;padding-right: 1em;width: 100%;top: 50%;left: 50%;opacity: 0;-webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;}
.content:hover .content-details{top: 50%;left: 50%;opacity: 1;}
.content-details h3{color: #fff;font-weight: 500;letter-spacing: 0.15em;margin-bottom: 0.5em;text-transform: uppercase;}
.content-details p{color: #fff;font-size: 0.8em;}
.fadeIn-bottom{top: 80%;}
.fadeIn-top{top: 20%;}
.fadeIn-left{left: 20%;}
.fadeIn-right{left: 80%;}
#sum{margin-top:30px;margin-bottom:40px;}
/*  end latest offers row */

/*  start fabtrends polices*/
#content{background-color:white;}
.threedivs{border:1px solid #ccc; text-align:center;margin-top:20px;margin-right:5px;margin-left:15px !important;width:350px;height:270px;padding:10px 10px 10px 10px;}
#subcontent{text-align:center;margin-top:10px;}
#shipping{font-size:25px;color:rgb(53,151,128);transform:uppercase;}
/*  end fabtrends polices*/

/*  begin navtabs */
#hammer{background:none;margin-left:20px;padding:30px;margin-bottom:0; margin-top:0 !important;}
#tabs{margin-right:10px;}
.nav-tabs > li > a {font-size: 15;color: #212121;font-family: Tw Cen MT Condensed Extra Bold; background:none;font-weight:200px; text-transform: uppercase;letter-spacing: 2px;border-radius: 0;border: none;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background-color:rgb(53,151,128);color:#fff;	border: 1px solid rgb(53,151,128);outline:none;}
.nav-tabs > li > a:hover { border: none;background:none;}
.nav-tabs {border-bottom: 2px solid  rgb(53,151,128);}
.agile_ecommerce_tab_left {padding-left: 0;text-align: center;}
.agile_ecommerce_tabs {padding: 2em 0 0;}
.agile_ecommerce_tab_left h5{margin:2em 0 0;}
.agile_ecommerce_tab_left h5 a{font-size: 1.2em;color: rgb(53,151,128);text-decoration: none;}
.agile_ecommerce_tab_left h5 a:hover{color:#212121;}
.simpleCart_shelfItem p{font-size: 1.2em;color: #212121;margin: 6px; font-weight: 600;}
.simpleCart_shelfItem p span{color: #999;font-size: .8em;text-decoration: line-through; padding-right: 1em; font-weight: 300;}
.agile_ecommerce_tab_left p i{	font-style:normal;}
.simpleCart_shelfItem p a{ font-size: 16px;color:#212121;margin: 0;text-decoration: none; text-transform: uppercase;padding: .5em 2em;border: 1px solid; border-radius: 25px;}
.simpleCart_shelfItem p a:hover{background:rgb(53,151,128);color:#fff;border:1px solid rgb(53,151,128);}
.w3_hs_bottom{position: absolute;width: 100%;height: 100%;background:rgb(53,151,128,0.1);opacity: 0;top: 0%;left: 0%;z-index:200;-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-webkit-transform: translate(460px, -100px) rotate(180deg);-moz-transform: translate(460px, -100px) rotate(180deg);-o-transform: translate(460px, -100px) rotate(180deg);-ms-transform: translate(460px, -100px) rotate(180deg);transform: translate(460px, -100px) rotate(180deg);-webkit-transition: all 0.2s 0.4s ease-in-out;-moz-transition: all 0.2s 0.4s ease-in-out;-o-transition: all 0.2s 0.4s ease-in-out;-ms-transition: all 0.2s 0.4s ease-in-out;transition: all 0.2s 0.4s ease-in-out;}
.w3_hs_bottom ul,.flex_ecommerce{padding:6em 0 0;-webkit-transform: translateY(-200px);-moz-transform: translateY(-200px);-o-transform: translateY(-200px);-ms-transform: translateY(-200px);transform: translateY(-200px);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.agile_ecommerce_tab_left:hover .w3_hs_bottom ul{-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-o-transform: translateY(0px);-ms-transform: translateY(0px);transform: translateY(0px);-webkit-transition-delay: 0.3s;-moz-transition-delay: 0.3s;-o-transition-delay: 0.3s;-ms-transition-delay: 0.3s;transition-delay: 0.3s;}
.w3_hs_bottom ul li{display:inline-block;}
.w3_hs_bottom ul li a{display: block;}
.w3_hs_bottom ul li a{font-size:1em;color:rgb(53,151,128);text-decoration:none;padding: .5em;background: #fff;}
.w3_hs_bottom ul li a:hover,.flex_ecommerce a:hover{background:rgb(53,151,128);color:#fff;}
.agile_ecommerce_tab_left:hover .w3_hs_bottom{-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100); opacity: 1;-webkit-transition-delay: 0s;-moz-transition-delay: 0s;-o-transition-delay: 0s;-ms-transition-delay: 0s; transition-delay: 0s;-webkit-transform: translate(0px, 0px);-moz-transform: translate(0px, 0px);-o-transform: translate(0px, 0px);-ms-transform: translate(0px, 0px);transform: translate(0px, 0px);}
/*  end navtabs */

/*  begin trending offers */
#hammer3{margin-top:10px;margin-bottom:10px;}
#btn3{color:white;background-color:black;font-size:26px;border:4px solid white;margin-top:20px;}
#sale1{font-size:30px;font-weight:800px;color:white;font-family:Elephant;}
#access1{font-size:18px;color:white;}
#img21{height:400px; width:445px; margin-right:0px;}
#img23{height:400px; width:445px; margin-right:0px;}
#img22{height:400px; width:444px; margin-right:0px;}
.hovereffect {width:440px;height:400px;float:left;overflow:hidden;position:relative;text-align:center;cursor:default;}
.hovereffect .overlay {width:500px;height:430px;position:absolute;overflow:hidden;top:0;left:0;opacity:0;background-color:rgba(0,0,0,0.5);-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out;}
.hovereffect img {display:block;position:relative;-webkit-transition:all .4s linear;transition:all .4s linear;}
.hovereffect h2 {text-transform:uppercase;color:#fff;text-align:center;position:relative;font-size:17px;background:rgba(0,0,0,0.6);-webkit-transform:translatey(-100px);-ms-transform:translatey(-100px);transform:translatey(-100px);-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;padding:10px;}
.hovereffect a.info {text-decoration:none;display:inline-block;text-transform:uppercase;color:#fff;border:1px solid #fff;background-color:transparent;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;margin:50px 0 0;padding:7px 14px;}
.hovereffect a.info:hover {box-shadow:0 0 5px #fff;}
.hovereffect:hover img {-ms-transform:scale(1.2);-webkit-transform:scale(1.2);transform:scale(1.2);}
.hovereffect:hover .overlay {opacity:1;filter:alpha(opacity=100);}
.hovereffect:hover h2,.hovereffect:hover a.info {opacity:1;filter:alpha(opacity=100);-ms-transform:translatey(0);-webkit-transform:translatey(0);transform:translatey(0);}
.hovereffect:hover a.info {-webkit-transition-delay:.2s;transition-delay:.2s;}
/*  end trending offers */

/*  begin carousaltop */

.carousel {margin-bottom:60px;margin-top:30px;}
.carousel .item {color:white ;text-align: center;overflow: hidden;}
.carousel .carousel-control {height: 50px;width: 40px;background:rgb(53,151,128);margin: auto 0;border-radius: 4px;opacity: 0.8;padding:10px;}
.carousel .carousel-control:hover {background: black;opacity: 1;}
.carousel .carousel-control i {font-size: 36px;position: absolute;top: 50%;display: inline-block;margin: -19px 0 0 0;z-index: 5;left: 0;right: 0;color:white;text-shadow: none;font-weight: bold;}
.carousel .carousel-indicators {bottom: -50px;}
.carousel-indicators li, .carousel-indicators li.active {width: 10px;height: 10px;margin: 4px;border-radius: 50%;border: none;}

#c{background-image: url('hhjhjhj.jpg');width:320px;height:380px;}
#c1{background-image: url('jgjhgjh.jpg');width:320px;height:380px;}
#cutter img{height:100%;width:100%;}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
color:white;
font-size:30px;
font-family:Cambria;
background:rgba(0,0,0,0.6);
padding:10px;}

/*  end carousaltop */

/* begin footer */
.footer{background:rgb(0,0,0);color:rgb(53,151,128);font-size:20px;padiing:10px;margin-right:0;}
.address{color:white;font-size:16px;outline:none;list-style: none;}
#menu{margin-right:20px;font-size:25px;border-radius:10px;}
.info a{color:white;font-size:16px;padding:10px 0px 10px 0px;}
.info a:hover{color:rgb(53,151,128);}
.hammer5{text-align:center;font-size: 26px; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: oblique;}
.fa-facebook {background: #3B5998;color: white;}
.fa-google {background: #dd4b39; color: white;}
.fa-youtube {background: #bb0000; color: white;}
.fa-instagram {background: #125688;color: white;}
.fa-pinterest {background: #cb2027;color: white;}
/* finish footer */

/* begin login  & register page */
#form1{background-color:#daf2ec;width:1349px;height:auto;}
#form4{background-color:#daf2ec;width:1349px;height:auto;}
#form2{background-color:rgb(255, 255, 255); padding:30px 30px 30px 30px;color:white; margin-top:30px;margin-bottom:30px;}
.sig{text-align:center;font-size:30px;color:black;font-family:Arial Rounded MT;}
#easily{color:black;text-align:center;font-size:14px;font-weight:bold;}
#em1{font-size:18px; color:black;border-radius:10px 10px 0px 0px;font-family:Arial Rounded MT;padding:12px;height:55px;padding-left:20px;}
#em6{font-size:16px; width:100%;color:rgb(151,151,151);border-radius:0px 0px 10px 10px; outline:none; border:1px solid rgb(196,196,196);font-family:Arial Rounded MT;padding:15px;padding-left:25px;}
#em4{font-size:16px; color:black;border-radius:0px 0px 10px 10px;font-family:Arial Rounded MT;padding:20px;}
#t2{font-size:16px; color:black;border-radius:0px 0px 10px 10px;font-family:Arial Rounded MT;padding:20px;}
#em2{font-size:16px; color:black;padding-right:5px;font-family:Arial Rounded MT;}
#forget{font-size:14px; color:black;text-align:center;font-family:Arial Rounded MT;margin-top:20px;outline:none;}
#forget1{color:rgb(53,151,128);text-align:center;font-size:16px;font-weight:bold;outline:none;font-family:Arial Rounded MT}

#em5{font-size:16px; color:black;border-radius:0px 0px 0px 0px;font-family:Arial Rounded MT;padding:25px;}
#t1{font-size:16px; color:black;border-radius:0px 0px 0px 0px;font-family:Arial Rounded MT;padding:25px;}
#form3{background-color:#daf2ec;height:auto;}
#register1{border:1px solid rgb(196,196,196);border-radius:0px 0px 10px 10px;color:rgb(151,151,151);font-size:16px;font-family:Arial Rounded MT;padding:10px 10px 10px 25px; font-weight:bold;}
.radio-inline{margin-left:40px;color:white;padding-right:50px;}
#subject{margin-top:20px; border-radius:10px;margin-bottom:10px;width:100%;outline:none;border:1px solid rgb(196,196,196);color:black;font-size:14px;font-family:Arial Rounded MT;padding:10px;}
#sign{text-align:center;font-size:18px;color:white;background:rgb(53,151,128);font-family:Arial Rounded MT;border-radius:5px 5px 5px 5px;}
#register input[type="text"]{font-size:16px;font-family:Arial Rounded MT;;}
#register input[type="password"]{font-size:16px;font-family:Arial Rounded MT;}



/* end Bellies Page */
/*-- dresses --*/

.w3ls_dresses_grid_left_grid h3{font-size:28px;color: rgb(53,151,128);padding-left: 40px;position: relative;margin-bottom: 1em;}
.w3ls_dresses_grid_left_grid h3:before{background:rgb(53,151,128);width:10%;height:2px;position:absolute;top:50%;left:0%;}
select.select_item {font-size: 14px;color: #212121;padding: 10px;outline:none;margin-right: 1em;}
.dresses_grid{position:relative;}
.dresses_grid_pos{position: absolute;top: 1%;right:2%;width: 100px;height: 40px; padding:10px;background:rgb(53,151,128);z-index: 100;border-radius: 40px;}
.dresses_grid_pos h6{font-size:16px;color:#fff;text-align:center;margin-top:0px;}
.w3_hs_bottom_sub1 ul {padding: 140px 0 0 !important;}
.w3ls_dresses_grid_right_grid3:nth-child(6){margin:2em 0;}
/*-- //dresses --*/

	.w3l__products h3:before {
		left: 16% !important;
	}
	.flex_ecommerce {
		padding: 6em 0 0 !important;
	}
	
	related-products --*/
.w3l_related_products h3:before {
    left: 27% !important;
}
#flexiselDemo2{
	margin:3em 0 0;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
.opportunity{
	background:#28282e;
	margin:0px 20px;
	padding:80px 0;
	position:relative;
}
#flexiselDemo1,#flexiselDemo2 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0;
	padding: 0 15px;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}

#related{padding-top:5%;}

/*-- end dresses --*/
/*-- about --*/
#about{background-image: url('images/about.jpg');}
#question{font-size:20px;font-weight:bold;color:rgb(53,151,128);}
#feedback1{font-size:40px;font-weight:bold;color:rgb(53,151,128);text-align:center;padding:20px;background:rgba(212, 209, 201,0.3);}
#answer{font-size:16px;margin-bottom:30px;}
#mostly{position: absolute;top: 38%;left: 35%;background-color:black;color:white;padding-left: 20px; padding-right: 20px;font-size:70px;font-weight:bold;letter-spacing:5px;text-align:center;}
#mostly1{position: absolute;top: 40%;left: 32%;background-color:black;color:white;padding-left: 20px; padding-right: 20px;font-size:70px;font-weight:bold;letter-spacing:5px;text-align:center;}

#gift{color:rgb(53,151,128);font-size:17px;text-align:left;}
#kurties{top:60px;}
#product{margin-bottom:10px;margin-right:30px;margin-left:30px;}
#productname{font-size:15px;text-align:center;color:rgb(53,151,128); font-weight:bold;text-align:center;margin-top:10px;}
#center{text-align:center;height:450px;width:300px;margin-bottom:7px;cursor:pointer;}
#image-card img{width:100%,height:100%;}
#cart{text-align:center;left:10px;padding:8px;outline:none;}
.cartbutton1{color:white;background:rgb(53,151,128);margin-left:10px;font-size:18px;text-align:center;padding:6px 16px 6px 16px !important;border-radius:10px;font-family:Arial Rounded MT;outline:none;margin-bottom:0;}
.cartbutton3{color:white;margin-top:0;background:rgb(53,151,128);font-size:18px;text-align:center;padding:6px 80px 6px 80px;border-radius:10px;font-family:Arial Rounded MT;outline:none;}


.productprice{text-align:center;font-size:20px; color:black;font-family:Arial Rounded MT;margin-left:10px; }
#cart1{width:1349px;height:auto;margin-bottom:0;}
#cart2{color:black;font-size:30px;font-family:Arial Rounded MT;margin-top:30px;}
#cart3{color:white;font-size:18px;font-family:Arial Rounded MT;text-align:center;}
#cart4{margin-top:5px;text-align:center|justify;width:280px;font-family:Arial Rounded MT;text-align:center;color:rgb(53,151,128);font-size:18px;}
#cart5{color:rgb(53,151,128);font-size:20px;font-family:Arial Rounded MT;margin-top:30px;}
#cart6{color:rgb(53,151,128);font-size:18px;font-family:Arial Rounded MT;text-align:center;}
#cart7{color:rgb(53,151,128);font-size:18px;font-family:Arial Rounded MT;text-align:center;margin-right:30px;}
#cart8{color:Black;font-size:22px;font-family:Arial Rounded MT;margin-right:30px;}
.btn-info{color:white;background:rgb(53,151,128);font-size:16px;text-align:center;padding:6px 10px 6px 10px;}
.btn-primary{color:white;background:rgb(53,151,128);font-size:16px;text-align:center;padding:6px 10px 6px 10px;}
.btn-primary : hover{color:white;background:rgb(53,151,128);font-size:16px;text-align:center;padding:6px 10px 6px 10px;}
#alert{background:none !important;border-radius:none !important;padding:0px !important;outline: none;margin-top:0px !important;margin-bottom:0px;margin-left:0px;color:rgb(53,151,128);font-size:10px;}
.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 60px;
	margin-top:30px;
	margin-left:16px;margin-right:17px;
}

.thumbnail img {
    width: 100%;
}
#about3{background-image: url('images/about.jpg'); height:60%;}
.pages{color:black;font-size:22px;font-family:Arial Rounded MT;}
#pages1{font-family:Arial Rounded MT;border:1px solid rgba(0,0,0,0.2) ;padding:30px;font-size:18px;}
#pages1 input[type=text]{color:black;font-family:Arial Rounded MT; border:1px solid rgba(0,0,0,0.3);width:385px;font-size:14px;outline:none;border-radius:5px;padding:4px;padding-left:20px;margin-bottom:8px;font-size:18px;margin-left:15px;}
#pages1 input[type=email]{color:black;margin-left:15px;font-family:Arial Rounded MT;border:1px solid rgba(0,0,0,0.3); width:385px;outline:none;font-size:14px;border-radius:5px;padding:4px;padding-left:20px;margin-bottom:8px;font-size:18px;}
#pages3{font-family:Arial Rounded MT;color:black;font-size:20px;}
#center1{width:100%;height:65%;}

.itemseemore{text-align:center;border:1px solid black; border-radius:20px;}
#categ{position: absolute;top: 45%;left: 35%;background-color:black;color:white;padding-left: 20px; padding-right: 20px;font-size:70px;font-weight:bold;letter-spacing:5px;text-align:center;}
#editprofile{color:black;}
#editprofile input[type=text]{color:black;font-family:Arial Rounded MT; width:385px;font-size:16px;border-radius:5px;padding:4px;padding-left:20px;margin-bottom:8px;border:1px solid rgba(0,0,0,0.3);}
#editprofile input[type=email]{color:black;font-family:Arial Rounded MT; width:385px;font-size:16px;border-radius:5px;padding:4px;padding-left:20px;margin-bottom:8px;border:1px solid rgba(0,0,0,0.3);}
#editprofile input[type=password]{color:black;font-family:Arial Rounded MT; width:385px;font-size:16px;border-radius:5px;padding:4px;padding-left:20px;margin-bottom:8px;}
#radio_experience{color:white;}
.parallax { 
  
  background-image: url("banner.jfif");
  height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 
.parallax2 { 
  height:400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 { 
 
background-image: url("banner.jfif");
  /* Set a specific height */
  height: 360px; 
 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 { 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#buttonstore {
  display: inline-block;
  background-color: rgb(53,151,128);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color:white;
  font-size:24px;
  padding-top:12px;
}
#buttonstore::after {
  
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#buttonstore:hover {
  cursor: pointer;
  background-color: white;
  color:black;
}
#buttonstore:active {
  background-color: #555;
}
#buttonstore.show {
  opacity: 1;
  visibility: visible;
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}